<?xml version="1.0" encoding="utf-8" ?>
<buildCopConfiguration xmlns="http://schemas.jelle.druyts.net/BuildCop">
  <buildGroups>
    <buildGroup name="DefaultNewVisualStudioProjectAndSampleBuildCopConfig">
      <buildFiles>
        <paths>
          <path rootPath="." searchPattern="VisualStudioNewProject.proj" />
        </paths>
      </buildFiles>
      <rules>
        <rule name="Build Properties"/>
      </rules>
    </buildGroup>
    <buildGroup name="TestBuildGroup" enabled="true">
      <buildFiles excludedFiles="jpg;gif">
        <paths>
          <path rootPath="TestRootPath" searchPattern="*.csproj" excludedFiles="exclude;bak" />
        </paths>
      </buildFiles>
      <rules>
        <rule name="AssemblyReferenceRule" type="BuildCop.Rules.AssemblyReferences.AssemblyReferenceRule" excludedFiles="dat;bin" excludedOutputTypes="WinExe;Exe">
          <assemblyLocations>
            <assemblyLocation assemblyName="TestAssemblyName" assemblyPath="TestAssemblyPath" />
          </assemblyLocations>
        </rule>
        <rule name="StrongNamingRule" type="BuildCop.Rules.StrongNaming.StrongNamingRule" enabled="true">
          <strongNaming strongNameRequired="true" keyPath="TestKeyPath" ignoreUnsignedProjects="false" />
        </rule>
        <rule name="NamingConventionsRule" type="BuildCop.Rules.NamingConventions.NamingConventionsRule" enabled="false">
          <prefixes namespacePrefix="TestNamespacePrefix" assemblyNamePrefix="TestAssemblyNamePrefix" assemblyNameShouldMatchRootNamespace="true" />
        </rule>
        <rule name="BuildPropertiesRule" type="BuildCop.Rules.BuildProperties.BuildPropertiesRule">
          <buildProperties>
            <buildProperty name="ProductVersion" value="8.0.50727" />
            <buildProperty name="SchemaVersion" value="2.0" condition="" compareOption="EqualTo" stringCompareOption="Ordinal" />
            <buildProperty name="DebugType" value="full" condition="Debug" compareOption="DoesNotExist" stringCompareOption="OrdinalIgnoreCase" />
          </buildProperties>
        </rule>
        <rule name="DocumentationFileRule" type="BuildCop.Rules.DocumentationFile.DocumentationFileRule">
        </rule>
        <rule name="OrphanedProjects" type="BuildCop.Rules.OrphanedProjects.OrphanedProjectsRule">
          <solutions searchPath="TestSearchPath" />
        </rule>
        <rule name="SharedDocumentationFileRule" />
      </rules>
    </buildGroup>
  </buildGroups>
  <sharedRules>
    <rule name="SharedDocumentationFileRule" type="BuildCop.Rules.DocumentationFile.DocumentationFileRule" />
    <rule name="Build Properties" type="BuildCop.Rules.BuildProperties.BuildPropertiesRule">
      <buildProperties>
        <buildProperty name="DebugSymbols" value="true" condition="Debug" />
        <buildProperty name="DebugType" value="full" condition="Debug" />
        <buildProperty name="Optimize" value="false" condition="Debug" />
        <buildProperty name="DefineConstants" value="DEBUG;TRACE" condition="Debug" />
        <buildProperty name="DebugType" value="pdbonly" condition="Release" />
        <buildProperty name="Optimize" value="true" condition="Release" />
        <buildProperty name="DefineConstants" value="TRACE" condition="Release" />
        <buildProperty name="ErrorReport" value="prompt" />
        <buildProperty name="TreatWarningsAsErrors" value="true" />
        <buildProperty name="WarningLevel" value="4" />
      </buildProperties>
    </rule>
  </sharedRules>
  <formatters>
    <formatter name="Console" type="BuildCop.Formatters.Console.ConsoleFormatter" minimumLogLevel="Warning" />
    <formatter name="Html" type="BuildCop.Formatters.Html.HtmlFormatter">
      <output fileName="out.html" launch="false" />
    </formatter>
    <formatter name="Xml" type="BuildCop.Formatters.Xml.XmlFormatter" minimumLogLevel="Error">
      <output fileName="out.xml" stylesheet="TestStylesheet.xslt" />
    </formatter>
    <formatter name="Csv" type="BuildCop.Formatters.Csv.CsvFormatter" minimumLogLevel="Exception">
      <output fileName="out.csv" />
    </formatter>
  </formatters>
  <outputTypeMappings>
    <outputType alias="Web" projectTypeGuid="{349c5851-65df-11da-9384-00065b846f21}" />
  </outputTypeMappings>
</buildCopConfiguration> 