<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="buildCopConfiguration" type="BuildCop.Configuration.BuildCopConfiguration, BuildCop"/>
  </configSections>
  <buildCopConfiguration xmlns="http://schemas.jelle.druyts.net/BuildCop">
    <buildGroups>
      <buildGroup name="Default">
        <buildFiles>
          <paths>
          </paths>
        </buildFiles>
        <rules>
        </rules>
      </buildGroup>
    </buildGroups>
    <sharedRules>
      <rule name="Build Properties" type="BuildCop.Rules.BuildProperties.BuildPropertiesRule">
        <buildProperties>
          <buildProperty name="DebugSymbols" value="true" condition="Debug"/>
          <buildProperty name="DebugType" value="full" condition="Debug"/>
          <buildProperty name="Optimize" value="false" condition="Debug"/>
          <buildProperty name="DefineConstants" value="DEBUG;TRACE" condition="Debug"/>
          <buildProperty name="DebugType" value="pdbonly" condition="Release"/>
          <buildProperty name="Optimize" value="true" condition="Release"/>
          <buildProperty name="DefineConstants" value="TRACE" condition="Release"/>
          <buildProperty name="ErrorReport" value="prompt"/>
          <buildProperty name="TreatWarningsAsErrors" value="true"/>
          <buildProperty name="WarningLevel" value="4"/>
        </buildProperties>
      </rule>
      <rule name="Build Properties (Non-Web)" type="BuildCop.Rules.BuildProperties.BuildPropertiesRule" excludedOutputTypes="Web">
        <buildProperties>
          <buildProperty name="OutputPath" value="bin\Debug\" condition="Debug"/>
          <buildProperty name="OutputPath" value="bin\Release\" condition="Release"/>
        </buildProperties>
      </rule>
      <rule name="Documentation File" type="BuildCop.Rules.DocumentationFile.DocumentationFileRule" excludedOutputTypes="Exe;WinExe;Web"/>
    </sharedRules>
    <formatters>
      <formatter name="Console" type="BuildCop.Formatters.Console.ConsoleFormatter" minimumLogLevel="Information"/>
      <formatter name="Html" type="BuildCop.Formatters.Html.HtmlFormatter" minimumLogLevel="Information">
        <output fileName="BuildCopReport.html" launch="true"/>
      </formatter>
      <formatter name="Xml" type="BuildCop.Formatters.Xml.XmlFormatter" minimumLogLevel="Information">
        <output fileName="BuildCopReport.xml"/>
      </formatter>
      <formatter name="Csv" type="BuildCop.Formatters.Csv.CsvFormatter" minimumLogLevel="Information">
        <output fileName="BuildCopReport.csv"/>
      </formatter>
    </formatters>
  </buildCopConfiguration>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
