<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="buildCopConfiguration" type="JelleDruyts.BuildCop.Configuration.BuildCopConfiguration, JelleDruyts.BuildCop"/>
  </configSections>
  <buildCopConfiguration xmlns="http://schemas.jelle.druyts.net/BuildCop">
    <buildGroups>
      <buildGroup name="TestBuildGroup" enabled="true">
        <buildFiles excludedFiles="jpg;gif">
          <paths>
            <path rootPath="TestRootPath" searchPattern="*.csproj" excludedFiles="exclude;bak" />
          </paths>
        </buildFiles>
        <rules>
          <rule name="AssemblyReferenceRule" type="JelleDruyts.BuildCop.Rules.AssemblyReferences.AssemblyReferenceRule" excludedFiles="dat;bin" excludedOutputTypes="WinExe;Exe">
            <assemblyLocations>
              <assemblyLocation assemblyName="TestAssemblyName" assemblyPath="TestAssemblyPath" />
            </assemblyLocations>
          </rule>
          <rule name="StrongNamingRule" type="JelleDruyts.BuildCop.Rules.StrongNaming.StrongNamingRule" enabled="true">
            <strongNaming strongNameRequired="true" keyPath="TestKeyPath" ignoreUnsignedProjects="false" />
          </rule>
          <rule name="NamingConventionsRule" type="JelleDruyts.BuildCop.Rules.NamingConventions.NamingConventionsRule" enabled="false">
            <prefixes namespacePrefix="TestNamespacePrefix" assemblyNamePrefix="TestAssemblyNamePrefix" assemblyNameShouldMatchRootNamespace="true" />
          </rule>
          <rule name="BuildPropertiesRule" type="JelleDruyts.BuildCop.Rules.BuildProperties.BuildPropertiesRule">
            <buildProperties>
              <buildProperty name="ProductVersion" value="8.0.50727" />
              <buildProperty name="SchemaVersion" value="2.0" condition="" compareOption="EqualTo" stringCompareOption="Ordinal" />
              <buildProperty name="DebugType" value="full" condition="Debug" compareOption="DoesNotExist" stringCompareOption="OrdinalIgnoreCase" />
            </buildProperties>
          </rule>
          <rule name="DocumentationFileRule" type="JelleDruyts.BuildCop.Rules.DocumentationFile.DocumentationFileRule">
          </rule>
          <rule name="OrphanedProjects" type="JelleDruyts.BuildCop.Rules.OrphanedProjects.OrphanedProjectsRule">
            <solutions searchPath="TestSearchPath" />
          </rule>
          <rule name="SharedDocumentationFileRule" />
        </rules>
      </buildGroup>
    </buildGroups>
    <sharedRules>
      <rule name="SharedDocumentationFileRule" type="JelleDruyts.BuildCop.Rules.DocumentationFile.DocumentationFileRule" />
    </sharedRules>
    <formatters>
      <formatter name="Console" type="JelleDruyts.BuildCop.Formatters.Console.ConsoleFormatter" minimumLogLevel="Warning" />
      <formatter name="Html" type="JelleDruyts.BuildCop.Formatters.Html.HtmlFormatter">
        <output fileName="out.html" launch="false" />
      </formatter>
      <formatter name="Xml" type="JelleDruyts.BuildCop.Formatters.Xml.XmlFormatter" minimumLogLevel="Error">
        <output fileName="out.xml" stylesheet="TestStylesheet.xslt" />
      </formatter>
      <formatter name="Csv" type="JelleDruyts.BuildCop.Formatters.Csv.CsvFormatter" minimumLogLevel="Exception">
        <output fileName="out.csv" />
      </formatter>
    </formatters>
    <outputTypeMappings>
      <outputType alias="Web" projectTypeGuid="{349c5851-65df-11da-9384-00065b846f21}" />
    </outputTypeMappings>
  </buildCopConfiguration>
</configuration>